@import 'shared/styles/media';

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--white-color);
  max-height: 279px;
  width: 208px;
  border-radius: 12px;
  padding-bottom: 22px;

  @include mobile {
    width: 180px;
  }

  font-size: 15px;
  line-height: 18px;

  &__rating {
    position: absolute;
    top: 45%;
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__price {
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__button {
    border-radius: 2px;
    font-size: 15px;
    line-height: 18px;
    padding: 7px 13px;
    box-shadow: none;

    &--selected {
      color: var(--white-color);
      background-color: var(--primary-color);
    }
  }
}