.mobile-app {
  --image-margin: -105px;

  padding-top: clamp(50px, calc(165 / 1440 * 100vw), 165px);
  padding-bottom: clamp(10px, calc(40 / 1440 * 100vw), 40px);

  @include tablet {
    --image-margin: -140px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @include desktop {
      column-gap: 0;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.5;
    row-gap: 30px;
    max-width: 538px;
  }

  &__title {
    text-wrap: nowrap;

    @include mobile {
      text-align: center;
    }
  }

  &__links {
    display: flex;
    column-gap: 35px;
  }

  &__images {
    display: flex;
    padding-right: calc(var(--image-margin) * -1);

    @include mobile {
      display: none;
    }
  }

  &__image {
    height: auto;
    flex-shrink: 0;

    &:nth-of-type(1) {
      margin-right: var(--image-margin);
    }

    &:nth-of-type(3) {
      z-index: -1;
      margin-left: var(--image-margin);
    }
  }
}