.restaurant-card {
  background-color: var(--white-color);
  border-radius: 53px 5px 53px 5px;
  max-width: 361px;

  &__image {
    border-radius: 53px 5px 0px 0px;
  }

  &__body {
    display: grid;
    justify-content: space-between;
    align-items: center;
    row-gap: 14px;
    padding: 22px 39px 22px 20px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.36;

    grid-column: span 2;
  }

  &__schedule {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 18px;
    font-weight: 300;
  }

  &__link {
    padding: 10px 33px;
    box-shadow: 0px 5px 12px 0px rgba(255, 104, 56, 0.19);
  }
}