@import 'shared/styles/media';

.intro {
  display: flex;
  align-items: center;

  @include mobile {
    justify-content: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 530px;
  }

  &__title {
    text-wrap: nowrap;

    @include mobile {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    column-gap: 29px;
  }

  &__link {
    color: var(--primary-color);
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--secondary-color);
    }
  }

  &__illustration {
    z-index: -1;
    margin-left: -58px;
    flex-shrink: 0;

    @include tablet {
      margin-left: -150px;
    }
  }
}