:root {
  --font-family: Rubik, sans-serif;
  --font-size: 20px;

  --container-width: 1172px;
  --container-padding-x: 30px;

  --between-section-distance: clamp(80px, calc(126 / 1440 * 100vw), 126px);

  --primary-color: #363853;
  --secondary-color: #FF7A50;
  --white-color: #FFFFFF;
  --dark-gray-color: #37383D;
  --gray-color: #646464;
  --light-gray-color: #AAAAAA;

  --transition-duration: 0.2s;

  // --global-bg-gradient: linear-gradient(180.00deg, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.38) 100%);
  --global-bg-color: #F9FAFF;
}