@import "shared/styles/mixins";

.header {
  @include fluid-text(18, 16);

  display: flex;
  padding-block: clamp(30px, calc(53 / 1440 * 100vw), 53px) clamp(55px, calc(76 / 1440 * 100vw), 76px);
  justify-content: space-between;
  align-items: center;
}